0.0.0.0:80 

root xterm.js

browse

rewrite {
    r  /ws/(.*)
    to /proxy//containers/{1}/attach/ws?logs=0&stream=1&stdin=1&stdout=1&stderr=1
}

proxy /proxy/ 172.22.0.2:2375 {
    #proxy_header Host {host}
    #proxy_header X-Real-IP {remote}
    #proxy_header X-Forwarded-Proto {scheme}
    #proxy_header X-Forwarded-Port 443
    #proxy_header Sec-Websocket-Key {>Sec-Websocket-Key}
    #proxy_header Sec-Websocket-Extensions {>Sec-Websocket-Extensions}
    #proxy_header Sec-Websocket-Version {>Sec-Websocket-Version}
    proxy_header Connection {>Connection}
    proxy_header Upgrade {>Upgrade}
    without /proxy
}

#log stdout

#errors stdout